* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    background: linear-gradient(334deg, #1d243313, #171c281a, #2f3b5415);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    flex-direction: column;
}


.header--color {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
        font-size: 2.1rem;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .login--signup {
    display: flex;
    gap: 2em;
  }

  .link {
    text-decoration: none;
  }


