* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

